* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

html, body, main {margin:0;padding:0;height:100%;width:100%;}

body{
  font-family: 'Open Sans Condensed', sans-serif;
  height: 100%;
  width: 100%;
}

.about {
  position: absolute;
  left: 8%;
  top: 8%;
  width: 60%;
}

.about-name {
  color: rgb(97, 16, 97);
  font-weight: bold;
  font-size: 2.1em;
}

.about-role {
  font-style: italic;
  font-weight: bold; 
}

.about-text {
  position: relative;
  left: 10%;
}

header img{
  position: absolute;
  left: 10px;
  top: 0px;
  height: 80px;
}

hr {
  border: 1px solid #89A691;
  /* border: 1px solid rgb(180, 179, 179); */
  border-radius: 10px;
}
.projects {
  position: relative;
  top: 48%;
  left: 15px;
  width: 97%;
}

.project {
  display: flex;
  margin-bottom: 120px;
}
.project-description h2 {
  font-weight: bolder;
  color: #563656;
  font-family: 'Roboto', sans-serif;
}

.project a {
  margin-right: 1em;
}

a {
  text-decoration: none;
  color: black;
}

a:hover{
  font-weight: bold;
}
.screen-view img {
  width: 100%;
  height: auto;
}

.quiz-app .screen-view img{
  border-radius: 27px;
}

.mobile-view img{
  width: 100%;
  height: auto;
  border-radius: 25px;
  margin-top: 90px;
  margin-left: -25px;
}
.project-description {
  padding: 0 10px;
  font-size: 85%;
}

.projects .tech {
  font-size: 200%;
}
.iconify {
  margin-left: 10px;
}

svg[data-icon="logos:html-5"] {
  font-size: 17px;
}

svg[data-icon="el:css"] {
  font-size: 17px;
}

svg[data-icon="logos:jquery"] {
  font-size: 14px;
}

svg[data-icon="logos:javascript"] {
  font-size: 17px;
}
svg[data-icon="fa-brands:node"] {
  font-size: 17px;
}
svg[data-icon="logos:react"] {
  font-size: 17px;
}
svg[data-icon="simple-icons:redux"] {
  font-size: 17px;
}

svg[data-icon="logos:mongodb"] {
  font-size: 17px;
}

svg[data-icon="logos:github"] {
  font-size: 12px;
}

.quiz-app img{
  border-radius: 20px;
} 

footer {
  position: relative;
  top: 470px;;
  height: 50 width: 100%;
  text-align: center;
  font-size: 1.5em;
  margin-bottom: 25px;
  padding: 25px;

}
footer a {
  margin-right: 10px;
}
footer .git {
  margin-left: 1px;
}

@media only screen and (max-width: 1200px){
  .projects{
    top: 58%;
  }
  .project{
    margin-bottom: 80px;
  }
}
/* ipad Pro */
@media (min-width:1024px) and (max-height: 1370px){
  footer{
    top: 660px;
  }
}
@media only screen and (max-width: 1000px) {
  .about {
    left: 10%;
    top: 35px;
    width: 85%;
  }
  .about-name{
    font-size: 1.5em;
    margin-left: 20px;
  }
  .about-text {
    position: relative;
    left: 0px;
    font-size: 85%;
  }
  .projects {
    top: 35%;
    left: 10%;
    width: 85%;
  }
  .project {
    display: block;
    margin-bottom: 80px;
  }
  .mobile-view {
    display: none;
  }
  .project-description{
    font-size: 60%;
  }
}

@media (max-width: 812px) and (max-height: 425px){
  .projects {
    top: 80%;
  }
}

@media only screen and (max-width: 750px){
  .projects {
    top: 45%;
  }
}


@media (max-width:640px) and (max-height: 370px){
  .projects {
    top: 72%;

  }
}
@media (min-width:360px) and (max-height: 650px){
  .projects {
    top: 120%;
  }
}
@media only screen and (max-width: 550px){
  .projects {
    top: 52%;
  }
}

@media only screen and (max-width: 450px){
  .projects {
    top: 70%;
  }
}
@media only screen and (max-width: 400px){
  .projects {
    top:88%;
  }
  footer{
    top: 600px;
    font-size: 1em;
  }
}
@media (max-width: 320px){
  .projects {
    top: 125%;
  }
  footer{
    top: 600px;
    font-size: 1em;
  }
}
