* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

html, body, main {margin:0;padding:0;height:100%;width:100%;}

body{
  /* font-family: 'Roboto', sans-serif; */
  font-family: 'Open Sans Condensed', sans-serif;
  height: 100%;
  width: 100%;
  background-color: rgb(235, 221, 196);
}

.about {
  position: absolute;
  left: 8%;
  top: 70px;
  width: 60%;
}

.about hr {
  position: relative;
  left: 10%;
}
.about-name {
  color: rgb(97, 16, 97);
  font-weight: bold;
  font-size: 2em;
}

.about-role {
  font-style: italic;
  font-weight: bold; 
}

.about-text {
  position: relative;
  left: 12%;
}

header img{
  position: absolute;
  left: 10px;
  top: 0px;
  height: 80px;
}

.projects {
  position: relative;
  top: 40%;
  left: 10%;
  width: 80%;
}

.project {
  display: flex;
  margin-bottom: 120px;
}

.project a {
  margin-right: 1em;
  text-decoration: none;
}

a:hover{
  font-weight: bold;
}
.screen-view img {
  width: 100%;
  height: auto;
}

.quiz-app .screen-view img{
  border-radius: 27px;
}

.mobile-view img{
  width: 100%;
  height: auto;
  border-radius: 25px;
  margin-top: 90px;
  margin-left: -25px;
}
.project-description {
  padding: 0 10px;
  font-size: 85%;
}

.projects .tech {
  font-size: 200%;
}
.iconify {
  margin-left: 10px;
}

svg[data-icon="logos:jquery"] {
  font-size: 15px;
}
svg[data-icon="logos:mongodb"] {
  font-size: 18px;
}

svg[data-icon="logos:github"] {
  font-size: 10px;
}

.quiz-app img{
  border-radius: 20px;
} 

footer {
  position: relative;
  top: 275px;;
  height: 50 width: 100%;
  margin: 0 auto;
  text-align: center;
  font-size: 1.5em;
}
@media screen and (max-width: 1100px){
  .projects{
    margin-top: 25px;
  }
  .project{
    margin-bottom: 80px;
  }
}

@media screen and (max-width: 800px) {
  .about {
    position: absolute;
    left: 10%;
    top: 35px;
    width: 75%;
  }
  .about-name{
    font-size: 1.5em;
    margin-left: 20px;
  }
  .about-text {
    position: relative;
    left: 8%;
    font-size: 85%;
  }
  .projects {
    top: 20%;
    left: 10%;
    width: 80%;
  }
  .project {
    display: block;
    margin-bottom: 80px;
  }
  .mobile-view {
    display: none;
  }
  .project-description{
    font-size: 80%;
  }
}

@media screen and (max-width: 420px){
  .about{
    margin-bottom: 50px;
  }
  .projects {
    top: 45%;
  }
}