* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

html, body, main {margin:0;padding:0;height:100%;width:100%;}

body{
  font-family: 'Open Sans Condensed', sans-serif;
  height: 100%;
  width: 100%;
  /* background-color:#F9F4E8; */
  /* background-color:#FCF9F3; */
}

.about {
  position: absolute;
  left: 8%;
  top: 8%;
  width: 60%;
}

.about-name {
  color: rgb(97, 16, 97);
  font-weight: bold;
  font-size: 2.1em;
}

.about-role {
  font-style: italic;
  font-weight: bold; 
}

.about-text {
  position: relative;
  left: 12%;
}

header img{
  position: absolute;
  left: 10px;
  top: 0px;
  height: 80px;
}

hr {
  border: 1px solid #89A691;
  /* border: 1px solid rgb(180, 179, 179); */
  border-radius: 10px;
}
.projects {
  position: relative;
  top: 35%;
  left: 10%;
  width: 80%;
}

.project {
  display: flex;
  margin-bottom: 120px;
}
.project-description h2 {
  font-weight: bolder;
  color: #563656;
  font-family: 'Roboto', sans-serif;
}

.project a {
  margin-right: 1em;
}

a {
  text-decoration: none;
  color: black;
}

a:hover{
  font-weight: bold;
}
.screen-view img {
  width: 100%;
  height: auto;
}

.quiz-app .screen-view img{
  border-radius: 27px;
}

.mobile-view img{
  width: 100%;
  height: auto;
  border-radius: 25px;
  margin-top: 90px;
  margin-left: -25px;
}
.project-description {
  padding: 0 10px;
  font-size: 85%;
}

.projects .tech {
  font-size: 200%;
}
.iconify {
  margin-left: 10px;
}

svg[data-icon="logos:html-5"] {
  font-size: 17px;
}

svg[data-icon="el:css"] {
  font-size: 17px;
}

svg[data-icon="logos:jquery"] {
  font-size: 14px;
}

svg[data-icon="logos:javascript"] {
  font-size: 17px;
}
svg[data-icon="fa-brands:node"] {
  font-size: 17px;
}
svg[data-icon="logos:react"] {
  font-size: 17px;
}
svg[data-icon="simple-icons:redux"] {
  font-size: 17px;
}

svg[data-icon="logos:mongodb"] {
  font-size: 17px;
}

svg[data-icon="logos:github"] {
  font-size: 12px;
}

.quiz-app img{
  border-radius: 20px;
} 

footer {
  position: relative;
  top: 275px;;
  height: 50 width: 100%;
  text-align: center;
  font-size: 1.5em;
  margin-bottom: 25px;
  padding: 25px;

}
footer a {
  margin-right: 10px;
}
footer .git {
  margin-left: 1px;
}

@media screen and (max-width: 1065px){
  .projects{
    margin-top: 25px;
    top: 45%;
  }
  .project{
    margin-bottom: 80px;
  }
}

@media screen and (max-width: 810px) {
  .about {
    left: 10%;
    top: 35px;
    width: 75%;
  }
  .about-name{
    font-size: 1.5em;
    margin-left: 20px;
  }
  .about-text {
    position: relative;
    left: 8%;
    font-size: 85%;
  }
  .projects {
    top: 30%;
    left: 10%;
    width: 80%;
  }
  .project {
    display: block;
    margin-bottom: 80px;
  }
  .mobile-view {
    display: none;
  }
  .project-description{
    font-size: 80%;
  }
}

@media screen and (max-width: 630px){
  .projects {
    top: 45%;
  }
}
@media screen and (max-width: 450px){
  .about{
    margin-bottom: 50px;
  }
  .projects {
    top: 52%;
  }
}

@media screen and (max-width: 361px){
  .projects {
    top:55%;
  }
}
@media screen and (max-width: 328px){
  .projects {
    top: 73%;
  }
  footer{
    top: 300px;
    font-size: 1em;
  }
}
